#correlation svg {
  font-size: 10;
  font-family: sans-serif;
  fill: #292b3d;
  text-anchor: middle;
}

#correlation rect {
  fill: white;
}

#correlation circle {
  pointer-events: none;
}

#correlation .y.axis path{
  stroke: none;
}

.y.axis text {
  fill: white;
}
