#correlation svg {
  font-size: 10;
  font-family: sans-serif;
  fill: black;
  text-anchor: middle;
}

#correlation rect {
  stroke: lightgray;
  fill: none;
}

#correlation .y.axis path{
  stroke: none;
}
