body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 17px;
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#map {
  width: 30%;
  height: 100%;
  position: relative;
}

#by_country{
  width: 20%;
  height: 70%;
  position: relative;
}

#correlation, #rita {
  width: 50%;
  height: 50%;
  position: relative;
}

#by_country_buttons {
  text-align: center;
  position: relative;
  top: 20%;
}

#maleGraph, #femaleGraph {
  background-color: white;
  border: 2px solid darkslateblue;
  border-radius: 5px;
  margin: 5px;
  padding:5px;
  min-width: 100px;
}
