body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 17px;
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#map, #by_country{
  width: 25%;
  height: 100%;
  border: solid;
  position: relative;
}

#correlation, #rita {
  width: 50%;
  height: 45%;
  border: solid;
  position: relative;
}
