body {
  margin: 0;
  background-color: #2A2C39;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 17px;
}
#map-holder {
  width: 100vw;
  height: 100vh;
}
svg rect {
  /*fill: #2A2C39;   /* map background colour */
  fill : #4C8FCA;
}
.country{
  fill: white;   /* country colour */
  stroke: #2A2C39; /* country border colour */
  stroke-width: 1; /* country border width */
}
.country-on{
  fill: red;   /* highlight colour for selected country */
}
.countryLabel{
  display: none;   /* hide all country labels by default */
}
.countryName{
  fill: #FFFAFF;   /* country label text colour */
}
.countryLabelBg{
  fill: green;  /* country label background colour */
}


#chooser{
  width: 120px;
  height:auto;
  background-color: #0D12FF;
  position: absolute;
  right:20px;
  top:15px;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-rows: min min min 50px;
  grid-gap: 10px;
 background-color: #0D12FF;
  display: inline-block;
  text-align: center;
  display: table;
  margin: 10 auto;

}

.grid-container > div.choice, div.button {
  margin-top: 10px;
  background-color: #F2FFFF;
  border-radius: 5px;
}
.button{
  cursor: pointer;
}
